.tile {
  display: inline-flex;
  background-color: black;
}

.grass {
}

.rock {
  background-image: url('/tiles/tile.jpg');
  background-size: 100px ;
}

.mudtile {
  background-image: url('/tiles/mudtile.png')
}

.chest {
  background-image: url('/tiles/chest.png')
}